@{
    ViewBag.Title = "Mootools & JQuery Service Example";
}

<br /> 

<div>
    <input type="button" value="Simple MooTools" onclick="OnPressMeSimpleMoo()"/>
    <input type="button" value="Simple JQuery" onclick="OnPressMeSimpleJQuery()" />
</div>

<br /> 

<div>
    <input type="button" value="Complex MooTools" onclick="OnPressMeComplexMoo()"/>
    <input type="button" value="Complex JQuery" onclick="OnPressMeComplexJQuery()" />
</div>

<br /> 

<div>
    <input type="button" value="List MooTools" onclick="OnPressMeListMoo()"/>
    <input type="button" value="List JQuery" onclick="OnPressMeListJQuery()" />
</div>