@{
    ViewBag.Title = "Mootools & JQuery Service Example";
}

<br /> 

<div>
    <input type="button" value="Simple MooTools" onclick="simpleMoo()"/>
    <input type="button" value="Simple JQuery" onclick="simpleJQuery()" />
</div>

<br /> 

<div>
    <input type="button" value="Complex MooTools" onclick="complexMoo()"/>
    <input type="button" value="Complex JQuery" onclick="complexJQuery()" />
</div>

<br /> 

<div>
    <input type="button" value="List MooTools" onclick="listMoo()"/>
    <input type="button" value="List JQuery" onclick="listJQuery()" />
</div>