@{
    ViewBag.Title = "Mootools & JQuery Service Example";
}

<br /> 

<div>
    <input type="button" value="Simple Moo" onclick="OnPressMeSimpleMoo()"/>
    <input type="button" value="Simple JQueryQ" onclick="OnPressMeSimpleJQuery()" />
</div>

<br /> 

<div>
    <input type="button" value="Complex Moo" onclick="OnPressMeComplexMoo()"/>
    <input type="button" value="Complex JQueryQ" onclick="OnPressMeComplexJQuery()" />
</div>

<br /> 

<div>
    <input type="button" value="List Moo" onclick="OnPressMeListMoo()"/>
    <input type="button" value="List JQueryQ" onclick="OnPressMeListJQuery()" />
</div>