@{
    ViewBag.Title = "Home Page";
}

<br /> 

<div>
    <input type="button" value="Simple Moo" onclick="OnPressMeSimpleMoo()"/>
    <input type="button" value="Simple JayQ" onclick="OnPressMeSimpleJay()" />
</div>

<br /> 

<div>
    <input type="button" value="Complex Moo" onclick="OnPressMeComplexMoo()"/>
    <input type="button" value="Complex JayQ" onclick="OnPressMeComplexJay()" />
</div>

<br /> 

<div>
    <input type="button" value="List Moo" onclick="OnPressMeListMoo()"/>
    <input type="button" value="List JayQ" onclick="OnPressMeListJay()" />
</div>